// Fonts
$fa-font-path: "../fonts/webfonts";

//@font-face {
//  font-family: NameOfFond;
//  src: url("path/to/font") format('format');
//}

// font family
$font-family-hd: Roboto, sans-serif;
$font-family-text: Montserrat, sans-serif;

// font size
$font-size-xl: 3.5rem;
$font-size-lg: 2.8rem;
$font-size-md: 1.3rem;
$font-size-sm: 1.1rem;
$font-size-xs: 0.9rem;

// font-weight
$font-weight-heavy: 600;
$font-weight-normal: 400;

// line height
$line-height-lg: 1.8;
$line-height-md: 1.6;
$line-height-sm: 1.2;

// color
$color-primary: $neutral-90;
$color-secondary: $neutral-70;
$color-tertiary: $neutral-50;

// letter spacing
$letter-spacing-lg: .25rem;

.letter-spacing-lg {
  letter-spacing: $letter-spacing-lg;
}

h1 {
  font-family: $font-family-hd;
  font-size: $font-size-xl;
  line-height: $line-height-sm;
}

h2 {
  font-family: $font-family-hd;
  font-size: $font-size-lg;
  line-height: $line-height-sm;
}

h3 {
  font-family: $font-family-hd;
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: $font-weight-normal;

}

p, a {
  font-family: $font-family-text;
  margin: 0;
  padding: 0;
}

.primary-content {
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-primary;
  a {
    color: $color-primary;
  }
}

.secondary-content {
  font-size: $font-size-sm;
  line-height: $line-height-lg;
  color: $color-secondary;
  a {
    color: $color-secondary;
  }
}

.tertiary-content {
  font-size: $font-size-xs;
  color: $color-tertiary;
  a {
    color: $color-tertiary;
  }
}
