// Fonts
$fa-font-path: "../webfonts";

//@font-face {
//  font-family: NameOfFond;
//  src: url("path/to/font") format('format');
//}

// Typography variables
$font-family: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;